.textbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--vscode-button-border, transparent);
  line-height: 18px;
  color: $button-color;
  background-color: $button-background-color;
  text-decoration: none;
  white-space: nowrap;
  padding: 2px 14px;
  user-select: none;

  &.disabled {
    cursor: default;
  }

  &:not(.disabled):focus {
    outline-style: none;
  }

  &.block {
    display: block;
    width: 100%;

    &:focus {
      outline-width: 1px;
      outline-style: solid;
      outline-offset: 2px;
      outline-color: $primary;
      opacity: 1;
    }
  }

  &:not(.disabled):hover {
    background-color: $button-hover-background-color;
  }

  &:not(.disabled):active {
    background-color: $button-active-background-color;
  }

  &.primary {
    background-color: $primary;

    &:not(.disabled):hover {
      background-color: $primary-hover;
    }

    &:not(.disabled):active {
      background-color: $primary-active;
    }
  }
}
