.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: $checkbox-background-color;
  border: 1px solid $checkbox-border-color;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;

  &.mdi {
    font-size: 16px;
    color: $checkbox-color;
  }

  &:focus,
  &.focus {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
    outline-color: $primary;
    opacity: 1;
  }
}
